.home-content {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 3em;
    margin: 0;
    gap: 3em;
}

.animals-container {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em
}

.notis-container {
   position: absolute;
   left: 1em;
   top: 0em;
}