img {
    object-fit: contain;
    width: 15em;
    height: 15em;
    background-color: black;
}



.animal-container {
    width: 20em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: pink;
    color: black;
}

.animal-container:hover {
    background-color: antiquewhite;
}

.animal-container__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40vw;

}

.image-container {
    position: relative;
}

.full {
    width: 3em;
    height: 3em;
    background-color: lightgreen;
    border-radius: 50%;

    position: absolute;  
    top: -1.5em;
    left: -1.5em;

}

.hungry {
    width: 3em;
    height: 3em;
    background-color: crimson;
    border-radius: 50%;

    position: absolute;  
    top: -1.5em;
    left: -1.5em;
    
}